#container {
    margin-left: auto;
    margin-right: auto;
}


#game-area {
    background-color: darkgreen;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.tomb {
    background-color: grey;
    border-radius: 4px;
    position: absolute;
    float: bottom;
}

:root {
    font-size: calc(1vw + 1vh + 1.5vmin);
}

body {
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: 400;
    text-align: start;
    padding-top: 5%;
    text-transform: uppercase;
}

.neon {
    color: #fff;
    text-shadow: 0 0 5px #9cff2c,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #5c7f20,
    0 0 80px #5c7f20,
    0 0 90px #952620,
    0 0 100px #952620,
    0 0 150px #5c7f20;
}