body {
    background-color: #19260b;
    background-repeat: no-repeat;
    background-size: cover;
}

img.center {
    text-align: center;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

